@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background-50 text-slate-800 font-sans antialiased;
}

section {
  @apply scroll-mt-24;
}
